<div class="container">
  <a style="text-decoration: none" href="/blog/{{id}}">
    <div class="row border border-primary p-3 m-2">
      <div class="col-md-8 fs-5 fw-bold">{{blog_title}}</div>
      <div class="col-md-2">{{user.user_name}}</div>
      <div class="col-md-2">{{date_posted}}</div>
    </div>
  </a>
</div>