<div class="container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row border border-primary bg-success p-1 m-2" style="--bs-bg-opacity: .5;">
          {{!-- <a href="/blog/{{id}}"> --}}
          <div class="col-md-8 ">{{comment_text}}</div>
          <div class="col-md-2 ">{{user.user_name}}</div>
          <div class="col-md-2 ">{{comment_date}}</div>
          
        </div>
        
      </div >