<div class="container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row border border-primary">
          {{!-- <a href="/blog/{{id}}"> --}}
          <div class="col-md-6 ">{{comment_text}}</div>
          <div class="col-md-4 ">{{user.user_name}}</div>
          <div class="col-md-2 ">{{comment_date}}</div>
          
        </div>
        
      </div >