<div class="container">
  <div class="row border border-primary bg-success p-1 m-2" style="--bs-bg-opacity: .5;">
    <div class="col-md-8 fs-4">{{comment_text}}</div>
    <div class="col-md-2 ">{{user.user_name}}</div>
    <div class="col-md-2 ">{{comment_date}}</div>
  </div>
</div>