<div class="container">
          <div class="row border border-primary">
         
          <div class="row">{{blogDetail.id}}</div>
          <div class="row">{{blogDetail.user.user_name}}</div>
          <div class="row">{{blogDetail.blog_title}}</div>
          <div class="row">{{blogDetail.blog_text}}</div>
          
          
        </div>
      <dir class="row border border-primary">
           {{#each blogCommentsArray as |commentsX|}}
            {{> blog-comments}}
              {{/each}}
        </dir>
      </div >