


<dir class="d-grid gap-2 col-6 mx-auto">
    <form name="edit-blog" class="edit-entry-form" id="{{user_id}}" blogID="{{blogDetail.id}}">
        <label for="entry-title">
           Blog Title:
              </label><br/>
                    <textarea name="entry-title" id="entry-title" cols="50" rows="1">{{blogDetail.blog_title}}</textarea>
                    <br/>
                  
                  <label for="entry-text">
                    Blog Text :
                  </label>
                  <br/>
                  <textarea name ="entry-text" id="entry-text"cols="50" rows="3">{{blogDetail.blog_text}}</textarea>
                  <br/>
                <button type="submit" value="Submit" id="edit-btn" class="btn btn-primary">Update This Blog Post</button>
               
              </form>
               <button onclick="history.back()" type="submit" value="Submit" class="btn btn-primary">Cancel</button>
          </dir>      

          <script src="/js/edit-entry.js"> </script>