<form class="border border-primary">
        <div class="mb-3 mx-5">
          <label for="user-name" class="form-label">user-name</label>
          <input type="text" class="form-control" id="user-name" aria-describedby="emailHelp">
          <div id="user-name" class="form-text"></div>
        </div>
        <div class="mb-3 mx-5">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary mx-5">Submit</button>
      </form>