<div class="row">
  <div class="col-md-6">
    <h3>Existing Users - Login</h3>
    <form class="login-form border border-primary">
      <div class="mb-3 mx-5">
        <label for="xuser-name" class="form-label">{{username}}</label>
        <input 
          type="text"
          class="form-control"
          id="xuser-name"
          aria-describedby="emailHelp"
        />
        <div id="xuser-name" class="form-text"></div>
      </div>
      <div class="mb-3 mx-5">
        <label for="xpassword" class="form-label">{{password}}</label>
        <input type="xpassword" class="form-control" id="xpassword" />
      </div>

      <button  type="submit" class="btn btn-primary mx-5">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <h3>New Registration</h3>
    <form  class="registration-form border border-primary">
          <div class="mb-3 mx-5">
        <label for="user-name" class="form-label">{{username}}</label>
        <input
          type="text"
          class="form-control"
          id="user-name"
          aria-describedby="emailHelp"
        />
        <div id="user-name" class="form-text"></div>
      </div>
      <div class="mb-3 mx-5">
        <label for="password" class="form-label">{{password}}</label>
        <input
          type="password"
          class="form-control"
          id="password"
        />
      </div>

      <button type="submit" class="btn btn-primary mx-5">Submit</button>
    </form>
  </div>
</div>
<script src="/js/login.js"> </script>